body {
  font-family: "Lato", sans-serif;
  @include font(300, 14px, 17px, normal);
  color: $grey-green-color;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  cursor: pointer;
}

.link:hover,
.link:focus {
  text-decoration: underline;
}

.link:active {
  color: $gold-color;
}

ul {
  list-style: none;
}

button:hover,
button:focus {
  cursor: pointer;
  outline: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:active {
  opacity: 0.6;
}

input:hover,
input:focus {
  background: $white-color;
  cursor: pointer;
  box-shadow: 2px -2px 11px 0 rgba(0, 0, 0, .2);
}

.radio:hover,
.radio:focus {
  outline-style: none;
  transform: scale(1.1, 1.1);
  box-shadow: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
  @include tablet {
    width: 90%;
  }
  @include mobile {
    width: 90%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.change-color {
  color: $light-red-color;
}

.close:hover {
  transform: scale(1.2, 1.2);
}

.block-title {
  min-height: 140px;
  width: 100%;
  background: $beige-color;
  @include flex(row, center, center);
}

.block-title__heading {
  @include font(400, 24px, 29px, normal);
  text-align: left;
  text-transform: uppercase;
  color: $light-red-color;
  @include mobile{
    text-align: center;
  }
}