body {
    font-family: "Lato", sans-serif;
    @include font(300, 14px, 17px, normal);
    color: #5d5d5d;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    cursor: pointer;
}

.link:hover,
.link:focus {
    text-decoration: underline;
}

.link:active {
    color: gold;
}

ul {
    list-style: none;
}

button:hover,
button:focus {
    cursor: pointer;
    outline: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:active {
    opacity: 0.6;
}

input:hover,
input:focus {
    background: $white-color;
    cursor: pointer;
    box-shadow: 2px -2px 11px 0 rgba(0, 0, 0, .2);
}

.radio:hover,
.radio:focus {
    outline-style: none;
    transform: scale(1.1, 1.1);
    box-shadow: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.change-color {
    color: $light-red-color;
}

.close:hover {
    transform: scale(1.4, 1.4);
}

.block-title {
    min-height: 140px;
    width: 100%;
    background: #F8F3F4;
    @include flex(row, flex-start, center);
}

.block-title__heading {
    @include font(400, 24px, 29px, normal);
    text-transform: uppercase;
    color: $light-red-color;
}

hr {
    background: #E2E2E2;
    width: 270px;
}