.left {
    position: relative;
    width: 662px;



    &__cards {
        width: 100%;
        min-height: 724px;
        padding-bottom: 72px;
        box-sizing: border-box;
        overflow-y: auto;
    }

    &__cards-item {
        margin-bottom: 40px;
        width: 98%;
        max-width: 662px;
        box-shadow: 6px 6px 20px 0 rgba(221, 221, 221, 1);
    }

    &__cards-item-close {
        border: none;
        outline: none;
        background: none;
        float: right;
        margin: 10px;
    }

    &__cards-item-wrapper {
        display: flex;
    }

    &__buttons {
        width: 100%;
        @include flex(row, space-between);
        position: absolute;
        bottom: 0;
    }

    &__buttons-item {
        width: 235px;
        height: 50px;
        @include flex(row, center, center);
        background-color: $white-color;
        color: #000000;
        border: 1px solid #A4A4A4;
        @include font(400, 14px, 17px, normal);
        text-transform: uppercase;
    }


    &__buttons-link:hover,
    &__buttons-link:focus {
        cursor: pointer;
        outline: none;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    &__buttons-link:active {
        opacity: 0.6;
    }

}