.auth-form {
  @include tablet {
    flex-basis: 40%;
  }
  &__field {
    @include flex(column, space-between);
    padding: 20px 0 33px;
  }

  &__input-text {
    padding: 12px 16px;
    margin-bottom: 20px;
  }

  &__text {
    @include font(300, 13px, 16px, normal);
    color: $grey-neutral-color;
  }
}